<!DOCTYPE html>
<html>
<head lang="es_Es">
	<title>Search</title>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<!-- nav bar -->
<div id="navbar-full">
    <div class="container">
        <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
          
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://consoulter.co">
                     <div class="logo-container ct-brand">
                        <div class="logo cst_logo">
                            <img class="ct-brand__image" src="source/img/consoulter_300x300.png">
                        </div>
                        <div class="brand">
                        	<h1 class="ct-brand__title">
                            	Consoulter
                        	</h1>
                        </div>
                        
                    </div>
                </a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                    <li><a href="components.html">Components</a></li>
                    
                    <li><a href="http://www.creative-tim.com/product/get-shit-done-kit" class="btn btn-round btn-default">Download</a></li>
               </ul>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div><!--  end container-->   
</div><!-- end nav bar -->

<!-- main -->
<div id="ct-main">
	<div class="ct-main__message">
		<center>
			<p>Welcome to Consoulter</p>
		</center>
	</div>
	<div class="ct-perfil">
		<div class="container">
			<div class="row">
				<div class="ct-user__media">
					<img class="ct-user__image img-circle" src="source/img/nick_3_300x300.jpg"></img>
				</div>
				<a class="ct-user__name">
					<h1>User Name</h1>
				</a>
				<div class="ct-user__live">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="ct-user__tags">
					<a href="#" class="ct-tag btn btn-default">Programacion</a href="#">
					<a href="#" class="ct-tag btn btn-default">Java</a href="#">
					<a href="#" class="ct-tag btn btn-default">Curso</a href="#">
					<a href="#" class="ct-tag btn btn-default">Objetos Java</a href="#">
					<a href="#" class="ct-tag btn btn-default">Programacion</a href="#">
					<a href="#" class="ct-tag btn btn-default">Java</a href="#">
					<a href="#" class="ct-tag btn btn-default">Curso</a href="#">
					<a href="#" class="ct-tag btn btn-default">Objetos Java</a href="#">
				</div>
			</div>
		</div>
	</div>
	<div class="ct-cards">
		<div class="container">
			<div class="col col-sm-6">
				<div class="ct-card">
					<a href="#" class="ct-card__container container-fluid">
						<section class="row">
							<div class="col col-sm-12">
								<header class="">
									<h3 class="ct-card__title">Curso de Programacion Java</h3>
								</header>
							</div>
							<div class="col col-sm-8">
								<div class="ct-card__tags">
									<a href="#" class="ct-tag btn btn-default">Programacion</a href="#">
									<a href="#" class="ct-tag btn btn-default">Java</a href="#">
									<a href="#" class="ct-tag btn btn-default">Curso</a href="#">
									<a href="#" class="ct-tag btn btn-default">Objetos Java</a href="#">
								</div>	
							</div>
							<div class="col col-sm-4">
								<div class="ct-card__user">
									<div class="ct-user__media">
										<img class="ct-user__image img-circle" src="source/img/nick_3_300x300.jpg"></img>
									</div>
									<a class="ct-user__name" href="#">User Name</a>
								</div>
							</div>
						</section>
						<footer class="row">
								<span class="text-muted col col-sm-10">
									Creado hace <a href="#">2 meses</a>
								</span>
								<span class="text-muted col col-sm-10">
									Ultima activdad hace <a href="#">13 horas</a>
								</span>
						</footer>
					</a>
				</div>
			</div>
			<div class="col col-sm-6">
				<div class="ct-card ct-card--load animate--load">
					<div class="container-fluid">
						<!-- no load content -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- end main-->

</body>	
<loadstyle>
     <link rel="stylesheet" type="text/css" href="source/css/uikit_creative-tim.min.css">
     <link rel="stylesheet" type="text/css" href="source/css/consoulter-theme.css">
</loadstyle>

<loadscript>
	<script src="source/js/jquery.min.js" type="text/javascript"></script>
	<script src="source/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="source/js/gsdk.min.js" type="text/javascript"></script>
    <script src="source/js/custom.js"></script>
</loadscript>
</html>