<!DOCTYPE html>
<html>
<head lang="es_Es">
	<title>Search</title>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<!-- nav bar -->
<div id="navbar-full">
    <div class="container">
        <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
          
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./search.html">
                     <div class="logo-container ct-brand">
                        <div class="logo cst_logo">
                            <img class="ct-brand__image" src="source/img/consoulter_300x300.png">
                        </div>
                        <div class="brand">
                        	<h1 class="ct-brand__title">
                            	Consoulter
                        	</h1>
                        </div>
                        
                    </div>
                </a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.facebook.com/Consoulter/">Comunidad</a></li>
                    
                    <li><a href="https://play.google.com/store/apps/details?id=com.ionic.consoulter&hl=es" class="btn btn-round btn-default">Google Play</a></li>
               </ul>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div><!--  end container-->   
</div><!-- end nav bar -->

<!-- main -->
<div id="ct-main">
	<div class="container">
		<div class="col col-sm-3">
			<div class="ct-perfil">
				<div class="container-fluid">
					<div class="col-sm-12">
						<div class="ct-user__media ct-perfil__user-media">
							<img class="ct-user__image img-circle" src="source/img/nick_3_300x300.jpg"></img>
						</div>
						<h4 class="ct-user__name ct-perfil__user-name">
							<a href="#">User Name</a>
						</h4>
						<hr class="ct-perfil__hr">
					</div>
					<div class="col-sm-12">
						<div class="ct-user__live">
							<ul>
								<li>Email <button type="button" class="btn btn-simple btn-sm btn-success btn-tooltip" data-toggle="tooltip" data-placement="top" title="name@... a sido verificado por consoulter" data-trigger="manual"><i class='fa fa-check'></i>Verificado</button></li>
								<li>Direccion <button type="button" class="btn btn-simple btn-sm btn-warning btn-tooltip" data-toggle="tooltip" data-placement="top" title="calle 5 ** ciudad Cucut... esta en proceso de verificacion por consoulter" data-trigger="manual">En Proceso</button></li>
								<li>Telefono <button type="button" class="btn btn-simple btn-sm btn-success btn-tooltip" data-toggle="tooltip" data-placement="top" title="3132***8... a sido verificado por consoulter" data-trigger="manual"><i class='fa fa-check'></i>Verficado</button></li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="ct-pefil__tags">
							<a href="#" class="ct-tag btn btn-default">Angular</a href="#">
							<a href="#" class="ct-tag btn btn-default">Curso</a href="#">
							<a href="#" class="ct-tag btn btn-default">Cursos Youtube</a href="#">
							<a href="#" class="ct-tag btn btn-default">App</a href="#">
							<a href="#" class="ct-tag btn btn-default">Ionic</a href="#">
							<a href="#" class="ct-tag btn btn-default">JavaScript</a href="#">
							<a href="#" class="ct-tag btn btn-default">Java</a href="#">
							<a href="#" class="ct-tag btn btn-default">Objetos Java</a href="#">
							<a href="#" class="ct-tag btn btn-default">Programacion</a href="#">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-md-9">
		<div class="ct-cards">
			<div class="container-fluid">
				<div class="col col-sm-6">
					<div class="ct-card ct-card--select">
						<a href="#" class="ct-card__container container-fluid">
							<section class="row">
								<div class="col col-sm-6 pull-right">
									<div class="ct-card__select">
										<label class="text-muted">Seleccionar</label>
										<div class="switch"
												data-on-label="<i class='fa fa-check'></i>"
												data-off-label="<i class='fa fa-times'></i>">
											<input type="checkbox" checked/>
										</div>
									</div>
								</div>
								<div class="col col-sm-12">
									<header class="">
										<h3 class="ct-card__title">Curso de Programacion Java</h3>
									</header>
								</div>
								<div class="col col-sm-12">
									<div class="ct-card__tags">
										<a href="#" class="ct-tag btn btn-default btn-sm">Programacion</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Java</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Curso</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Objetos Java</a href="#">
									</div>	
								</div>
							</section>
							<footer class="row">
									<span class="text-muted col col-sm-10">
										Creado hace <a href="#">2 meses</a>
									</span>
									<span class="text-muted col col-sm-10">
										Ultima activdad hace <a href="#">13 horas</a>
									</span>
							</footer>
						</a>
					</div>
				</div>
				<div class="col col-sm-6">
					<div class="ct-card">
						<a href="#" class="ct-card__container container-fluid">
							<section class="row">
								<div class="col col-sm-6 pull-right">
									<div class="ct-card__select">
										<label class="text-muted">Seleccionar</label>
										<div class="switch"
												data-on-label="<i class='fa fa-check'></i>"
												data-off-label="<i class='fa fa-times'></i>">
											<input type="checkbox"/>
										</div>
									</div>
								</div>
								<div class="col col-sm-12">
									<header class="">
										<h3 class="ct-card__title">Asesoria de Programacion Java</h3>
									</header>
								</div>
								<div class="col col-sm-12">
									<div class="ct-card__tags">
										<a href="#" class="ct-tag btn btn-default btn-sm">Programacion</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Java</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Curso</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Objetos Java</a href="#">
									</div>	
								</div>
							</section>
							<footer class="row">
									<span class="text-muted col col-sm-10">
										Creado hace <a href="#">2 meses</a>
									</span>
									<span class="text-muted col col-sm-10">
										Ultima activdad hace <a href="#">13 horas</a>
									</span>
							</footer>
						</a>
					</div>
				</div>
				<div class="col col-sm-6">
					<div class="ct-card">
						<a href="#" class="ct-card__container container-fluid">
							<section class="row">
								<div class="col col-sm-6 pull-right">
									<div class="ct-card__select">
										<label class="text-muted">Seleccionar</label>
										<div class="switch"
												data-on-label="<i class='fa fa-check'></i>"
												data-off-label="<i class='fa fa-times'></i>">
											<input type="checkbox"/>
										</div>
									</div>
								</div>
								<div class="col col-sm-12">
									<header class="">
										<h3 class="ct-card__title">Asesoria de Programacion Ionic</h3>
									</header>
								</div>
								<div class="col col-sm-12">
									<div class="ct-card__tags">
										<a href="#" class="ct-tag btn btn-default btn-sm">Programacion</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">JavaScript</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Angular</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Ionic</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">App</a href="#">
									</div>	
								</div>
							</section>
							<footer class="row">
									<span class="text-muted col col-sm-10">
										Creado hace <a href="#">2 meses</a>
									</span>
									<span class="text-muted col col-sm-10">
										Ultima activdad hace <a href="#">13 horas</a>
									</span>
							</footer>
						</a>
					</div>
				</div>
				<div class="col col-sm-6">
					<div class="ct-card">
						<a href="#" class="ct-card__container container-fluid">
							<section class="row">
								<div class="col col-sm-6 pull-right">
									<div class="ct-card__select">
										<label class="text-muted">Seleccionar</label>
										<div class="switch"
												data-on-label="<i class='fa fa-check'></i>"
												data-off-label="<i class='fa fa-times'></i>">
											<input type="checkbox"/>
										</div>
									</div>
								</div>
								<div class="col col-sm-12">
									<header class="">
										<h3 class="ct-card__title">Curso Virtual Ionic - Youtube</h3>
									</header>
								</div>
								<div class="col col-sm-12">
									<div class="ct-card__tags">
										<a href="#" class="ct-tag btn btn-default btn-sm">Programacion</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">JavaScript</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Angular</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Ionic</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">App</a href="#">
										<a href="#" class="ct-tag btn btn-default btn-sm">Cursos Youtube</a href="#">
									</div>	
								</div>
							</section>
							<footer class="row">
									<span class="text-muted col col-sm-10">
										Creado hace <a href="#">2 meses</a>
									</span>
									<span class="text-muted col col-sm-10">
										Ultima activdad hace <a href="#">13 horas</a>
									</span>
							</footer>
						</a>
					</div>
				</div>
				<div class="col col-sm-6">
					<div class="ct-card ct-card--load animate--load">
						<div class="container-fluid">
							<!-- no load content -->
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="ct-nav_action">
		<p class="text-primary col-md-9 visible-md-block hidden-sm">
			
		</p>
		<div class="col col-sm-12 col-md-3">
			<a class="btn btn-block btn-lg btn-info btn-fill" href="./chat.html">
				Iniciar <span class="ct-count_select">1</span> Consoulter
			</a>
		</div>
	</div>
</div><!-- end main-->

</body>	
<loadstyle>
     <link rel="stylesheet" type="text/css" href="source/css/uikit_creative-tim.min.css">
     <link rel="stylesheet" type="text/css" href="source/css/consoulter-theme.css">
</loadstyle>

<loadscript>
	<script src="source/js/jquery.min.js" type="text/javascript"></script>
	<script src="source/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="source/js/gsdk.min.js" type="text/javascript"></script>
    <script src="source/js/custom.js"></script>
</loadscript>
</html>